#wrapper-canvas canvas {
    max-width: 100%;
}
#artext{
    background: linear-gradient(to left,
     #03045e,#0077b6,#00b4d8,#90e0ef,#caf0f8
     );
     background-clip: text;
     display:inline;
     color: transparent;
     animation: animated 5s linear infinite;
    
}
@keyframes animated {
    to {background-position-x: 460px;}
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #1788ae;
  }

  .swiper-pagination-bullet {
    background-color: #23b9eb;
  }